<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="./static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style type="text/css">
    body {
        position: relative;
    }
    
    .login-box {
        margin: 40px auto;
        width: 400px;
        height: 200px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    </style>
</head>

<body>
    <div class="col-md-6 login-box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                <span class="glyphicon glyphicon-user"></span> 添加图书
                <a href="#" onclick="javascript :history.back(-1);" style="float: right;"><p>X</p></a>
                </h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label>图书名</label>
                        <input type="text" name="bookname" class="form-control" placeholder="请输入图书名">
                    </div>
                    <div class="form-group">
                        <label>作者</label>
                        <input type="text" name="author" class="form-control" placeholder="请输入作者">
                    </div>
                    <div class="form-group">
                        <label>类别</label>
                        <input type="text" name="classification" class="form-control" placeholder="请输入类别名">
                    </div>
                    <div>
                        <button type="text" class="btn btn-primary" onclick="add_books()">上架</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
function add_books() {
    axios.post('/add', {
            bookname: $("input[name='bookname']").val(),
            author: $("input[name='author']").val(),
            classification: $("input[name='classification']").val()
        })
        .then(function(response) {
            console.log(response.data.result);
        })
        .catch(function(error) {
            console.log(error);
        });
}
</script>

</html>
