<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="book shop">
    <meta name="keywords" content="书城">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script> 
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //初始化代码
            var isLogin = {{isLogin}};
            var isAuthor = {{isAuthor}};
            if (!isAuthor) {
                    $('#add_book').remove();
                    $('#mybook').remove();
            }
            if (isLogin) {
                console.log('islogin');
                $('#login').text('退出登陆');
                $('#login').attr('href',"javascript:void(0);");
                $('#login').click(function(){
                    axios.get('/exit').then(function(res){
                        if(res.data.result=='ok'){
                            console.log('刷新');
                            window.location.reload();
                        }
                    });
                });
                $('#register').remove();
            }else{
                $('#myaccount').remove();
                $('#recharge').remove();
                $('#myorder').remove();
                console.log('isnt login');
            }
        });
    </script>
</head>

<body>
    {% block main %} {% endblock %}
</body>

</html>