<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
    <script src="./static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript">
    const author = {{isauchor}};
    $(document).ready(function() {
        var buyed = {{isBuyed}};
        if (!author) {
            $('#add-chapter').remove();
        }
        if(buyed||author){
            showBuy(false);
        }else{
            showBuy(true);
        }
        getCover();
    });

    function getCover() {
        axios.get('/cover').
        then((res)=>{
            if(res.data.result == 'ok'){
                $('.img')[0].src = res.data.imgPath;
            }else{
                //图片未加载成功的处理
            }
        }).catch((err)=>{
            console.log(err);
        });
    }

    function showBuy(tag) {
        if(tag){
            $('#chapters').hide();
            $('#buy').show();
        }else{
            $('#chapters').show();
            $('#buy').hide();
        }
    }
    function showChapter(e) {
        $('#add-chapter-panel').show()
    }
    //添加章节
    function addChapter() {
        var name = $('#chapter_name').val() || '',
            content = $('#chapter_content').val() || '';
        axios.post('/addChapter', {
            chapterName: name,
            chapterContent: content
        }).then(function(res) {
            if (res.data.result == 'ok') {
                cancel();
                window.location.reload();
            } else {
                alert('添加失败');
            }
        })
    }

    function cancel() {
        $('#add-chapter-panel').hide()
    }

    /**
    显示内容
    **/
    function showContent(event, id) {
        $('#content-chapter-name').text($('#' + id).find('p').find("a").text());
        $('#content-content').text($('#' + id).find("p").text());
        $('.content-panel').show();
    }

    function dismissContent(e) {
        $('.content-panel').hide();
    }

    function back(e) {
        window.location.replace('/');
    }

    function collect(e) {
        axios.post('/collect').
        then((res) => {
            if (res.data.result == 'ok') {
                alert('收藏成功');
            } else if (res.data.result == 'nologin') {
                alert('您还没登陆');
            } else if (res.data.result == 'exist') {
                alert('你已经收藏');
            }else{
                alert('收藏失败');
            }
        }).catch((err) => {
            console.log(err);
            alert('收藏失败');
        })
    }

    function vote(e) {
        axios.post('/vote').
        then((res)=>{
            console.log(res);
            if(res.data.result == 'ok'){
                alert('投票成功!');
                window.location.reload();
            }else if (res.data.result == 'nologin') {
                alert('请先登陆');
            } else if (res.data.result == 'nomoney') {
                alert('余额不足，请先充值!');
            } else {
                alert('投票失败,请重试');
            }
        }).catch((err)=>{
            console.log(err);
            alert('投票失败,请重试');
        });
    }

    function buy(e,price) {
        axios.post('/buyBook',{
            price:price
        }).then(res=>{
            if (res.data.result == 'ok') {
                alert('购买成功');
                showBuy(false);
            } else if (res.data.result == 'nologin') {
                alert('您还没登陆');
                showBuy(true);
            } else if (res.data.result == 'nomoney') {
                alert('余额不足，请先充值!');
                showBuy(true);
            }else{
                alert('购买失败');
                showBuy(true);
            }
        }).catch(err=>{
            console.log(err);
            alert('购买失败,请重试');
            showBuy(true);
        });
    }

    function showChangeCover(){
         if(author){
            $('#changeCover').show();
        }else{
            return;
        }
    }

    function hideChangeCover(){
        $('#changeCover').hide();
    }

    function changeCover(e){
        var src = $('#tempimg')[0].src;
        if (!src || src=="") {
            alert('请选择文件');
            return;
        }
        axios.post('/cover',{
            cover:src
        }).then((res)=>{
            if (res.data.result == 'ok') {
                alert('修改成功!');
                hideChangeCover();
                $('.img')[0].src = src;
            } else {
                alert('更改失败');
            }
        }).catch((err)=>{
            alert('更改失败');
            console.log(err);
        })
    }

    function onFileChange(e) {
        var file = e.target.files[0];
        var reader = new FileReader();
        reader.onload = (function(file){
            return function(e){
                $('#tempimg')[0].src = this.result;
            };
        })(e.target.files[0]);
        reader.readAsDataURL(file);
    }

    </script>
    <style type="text/css">
    .box1-div {
        width: 1200px;
        margin: 10px auto;
        background: #F8F8F8;
    }
    
    .box2-div {
        width: 100%;
        margin: 10px auto;
        background: #F8F8F8;
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .box3-div {
        width: 100%;
        margin: 20px auto;
    }
    
    .box-name1 {
        width: 75%;
        float: left;
        vertical-align: center;
        margin-top: 30px;
        padding-left: 30px;
    }
    
    .box-name2 {
        width: 75%;
        float: left;
        vertical-align: center;
        padding-left: 30px;
    }
    
    .box-detail {
        width: 1200px;
        background: #F8F8F8;
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 15px;
    }
    
    .img {
        width: 200px;
        height: 300px;
        float: left;
    }
    
    .img-div {
        width: 25%;
    }
    
    .add-chapters {
        width: 400px;
        padding: 20px 30px 20px 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        display: none;
    }
    
    .content-panel {
        padding: 50px 30px 50px 30px;
        width: 1200px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        display: none;
    }
    
    .limit-text {
        width: 700px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    </style>
</head>

<body>

    <div class="panel panel-default content-panel">
        <h2 id="content-chapter-name" style="margin-bottom: 25px;">章节名称</h2>
        <p id="content-content"></p>
        <button class="btn btn-primary" type="text" id="complete" onclick="dismissContent(event)">完成</button>
    </div>
    <div class="panel panel-default add-chapters" id="changeCover">
        <label style="font-size: 24px;">修改封面</label>
        <input type="file" name="new_cover" id="new_cover" accept=".jpg,.jpeg,.png" onchange="onFileChange(event)" style="margin-top: 15px;margin-bottom: 15px;">
        <img src="" style="margin-bottom: 15px;max-width: 200px;max-height: 300px;" id="tempimg">
        <div class="form-group">
            <button type="text" class="btn btn-primary" onclick="changeCover(event)">确定</button>
            <button type="text" class="btn btn-primary" onclick="hideChangeCover()">取消</button>
        </div>
    </div>
    <div class="panel panel-default add-chapters" id="add-chapter-panel">
        <div class="panel_body">
            <div>
                <div class="form-group">
                    <table>章节名</table>
                    <input id="chapter_name" type="text" name="chapter_name" class="form-control" required="require">
                </div>
                <div class="form-group">
                    <table>内容</table>
                    <textarea id="chapter_content" rows="10" cols="40" type="text" name="chapter_content" class="form-control" required="require"></textarea>
                </div>
                <div class="form-group">
                    <button type="text" class="btn btn-primary" onclick="addChapter()">确定</button>
                    <button type="text" class="btn btn-primary" onclick="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="box1-div">
        <div class="box2-div">
            <div class="img-div">
                <img src="/static/img/loading.jpg" class="img" onclick="showChangeCover()">
            </div>
            <div class="box-name1">
                <h3>书名:</h3>
                <h4>《{{bookName}}》</h4>
            </div>
            <div class="box-name2">
                <h3 style="">作者:</h3>
                <h4 style="">{{author}}</h4>
            </div> 
            <div class="box-name2">
                <h4 style="">已有 {{votes}} 人投票</h4>
            </div>
            <div class="box-name2">
                <button id="add-chapter" type="text" class="btn btn-primary" style="margin-top: 30px;margin-bottom: 15px;" onclick="showChapter(event)">添加章节</button>
                <button type="text" class="btn btn-primary" style="margin-top: 30px;margin-bottom: 15px;" onclick="back(event)">返回</button>
                <button type="text" class="btn btn-primary" style="margin-top: 30px;margin-bottom: 15px;" onclick="collect(event)">收藏</button>
                <button type="text" class="btn btn-primary" style="margin-top: 30px;margin-bottom: 15px;" onclick="vote(event)">投票</button>
            </div>
        </div>
        <div class="box3-div">
            <div id="chapters" style="display: none;">
                {% for i1,i2,i3 in chapters %}
                <div id="{{i1}}" class="box-detail">
                    <p class="limit-text"><a href="javascript:void(0)" onclick="showContent(event,'{{i1}}')" style="font-size: 25px;">{{i2}}</a></p>
                    <p class="limit-text">{{i3}}</p>
                </div>
                {% else %} {% endfor %}
            </div>
            <div id="buy" style="display: none;margin-top: 15px;margin-bottom: 15px;margin-left: 30px;margin-right: 30px;">
                <label style="font-size: 30px;margin-right: 5px;">您还未购买图书</label><a href="javascript:void(0);" onclick="buy(event,{{bookprice}})"><label style="font-size: 30px;">点击购买图书</label></a><label style="font-size: 30px;margin-left: 5px;"> 价格：{{bookprice}}起飞币</label>
            </div>
        </div>
    </div>
</body>


</html>
