<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="./static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style type="text/css">
    body {
        position: relative;
    }
    
    .login-box {
        margin: 40px auto;
        width: 400px;
        height: 200px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    </style>
</head>

<body>
    <div class="col-md-6 login-box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> 注册
                <a href="#" onclick="javascript :history.back(-1);" style="float: right;"><p>X</p></a></h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" required="require">
                        <p class="help-block">用户名: admin@example.com</p>
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" name="password" class="form-control" placeholder="Password" required="require">
                        <p class="help-block">密码: 123456</p>
                    </div>
                    <div class="form-group">
                        <label>确认密码</label>
                        <input type="password" name="confirm-password" class="form-control" placeholder="Password" required="require">
                        <p class="help-block">密码: 123456</p>
                    </div>
                    <div class="form-group">
                        <label>选择账户类型</label>
                        </br>
                        <label style="margin-right: 20px">
                            <input type="radio" name="author" value="0">普通用户</label>
                        <label>
                            <input type="radio" name="author" value="1">作者</label>
                    </div>
                    <div>
                        <button type="text" class="btn btn-primary" onclick="register()">注册</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
function register() {
    var
        _email = $("input[name='email']").val(),
        _password = $("input[name='password']").val(),
        _confirmPassword = $("input[name='confirm-password']").val(),
        _author;
    var
        // normal_user = $("input[name='author']").val(),
        author = $("input[name='author']:checked").val();
        console.log(" "+author);
    if (!author) {
        alert("请选择用户类型！");
        return;
    }
    if (_password != _confirmPassword) {
        alert("两次输入的密码不一样");
        return;
    }
    _author = author;
    axios.post('/register', {
            email: _email,
            password: _password,
            author: _author
        })
        .then(function(response) {
            console.log(response.data.result)
            if (response.data.result == 'ok'){
                alert("注册成功");
                window.location.replace('/');
            }else{
                alert("注册失败");
            }
            console.log(response);
        })
        .catch(function(error) {
            console.log(error);
        });
}
</script>

</html>
